---
# Server Timzone + Locale
timezone: America/Sao_Paulo
locale: en_US.UTF-8

# Swap
# Uncommend here and in /roles/common/tasks/main.yml
swap_enabled: true
swap_file_path: /swapfile
swap_file_size_kb: 1024

# General settings
deploy_dir: /home/deploy/
deploy_user: deploy
deploy_password: pass
deploy_app_name: app_name
deploy_server_hostname: hostname.com
shared_dirs:
  - releases
  - repo
  - shared
  - shared/config
  - shared/log
  - shared/public
  - shared/tmp

# Nginx
nginx_https_enabled: false

# Certbot
certbot_url: https://dl.eff.org/certbot-auto
certbot_dir: /opt/certbot
certbot_email: victor.feijoa@gmail.com

# Authorized Hosts
# This copies your local public key to the remote machine
# for passwordless login. Modify this!
ssh_public_key_files:
  - /Users/victorfeijo/.ssh/id_rsa.pub

# MySQL
# mysql_root_db_password: SET_PASSWORD_HERE
# mysql_app_db_password: SET_PASSWORD_HERE

# Postgresql
postgresql_app_db_host: host
postgresql_app_db_name: name
postgresql_app_db_user: user
postgresql_app_db_password: pass

# Ruby
ruby_install_version: 0.6.1
chruby_version: 0.3.9
ruby_version: 2.5.1

# Rails
rails_secret_key_base: SECRET
puma_workers: 1
puma_threads: 1,16

# Elasticsearch
# elasticsearch_version: 2.3.1

# Monit
# monit_sidekiq_enabled: true

